@import 'tailwindcss';
@import './base.css';
@import './primevue.css';

#app {
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.4s;
}

.icon {
  font-size: 1.5em;
  vertical-align: middle;
}

/* Add container class for content max-width */
.content-container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}
.I{
  padding: 16px 7px 14px 7px;
  border-radius: 4px;
  margin-right: 3px;
  background-color: green;
  color: #fff;
}
.M{
  padding: 16px 7px 14px 7px;
   border-radius: 4px;
  margin-right: 3px;
  background-color: #285ab7;
  color: #fff;
}
.A{
  padding: 16px 7px 14px 7px;
   border-radius: 4px;
  margin-right: 3px;
  background-color: #b59309;
  color: #fff;
}
.B{
  padding: 16px 7px 14px 7px;
   border-radius: 4px;
  margin-right: 3px;
  background-color: #a12222;
  color: #fff;
}
.p-datatable {
    background-color: #1F2937 !important;
}

.p-datatable-header {
    background-color: #1F2937 !important;
    color: #F9FAFB !important;
}
.p-datatable-tbody tr {
    background-color: #1F2937 !important;
}
.p-paginator{
  background-color: #1F2937 !important;
  color: #1F2937 !important;
  margin-top: 10px !important;
}
.p-badge{
  margin-right: 6px;
}
