:root {
  --p-datatable-header-cell-background: #1F2937 !important;
  --p-datatable-header-cell-color: #FFFFFF !important;
  --p-datatable-body-cell-border-color: #111827 !important;
  --p-datatable-body-cell-padding: 7px 20px !important;
  --p-datatable-header-cell-border-color: #111827 !important;
  --p-multiselect-overlay-background:#111827 !important;
  --p-multiselect-overlay-border-color:#6A7282 !important;
  --p-select-overlay-background:#6A7282 !important;
  --p-select-overlay-border-color:none !important;
  --p-button-primary-color:#111827 !important;
}
